<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/ico" href="/assets/branding/favicon.ico">
   <link rel="icon" type="image/png" href="/assets/branding/favicon.png">
   <link rel="stylesheet" href="/assets/css/skeleton.css">
   <link rel="stylesheet" href="/assets/lib/semantic/semantic.min.css">
   <link rel="stylesheet" href="/assets/css/header.css">
   <% if (typeof css !== "undefined") { %>
      <link rel="stylesheet" href="/assets/css/<%-css-%>.css">
   <% } %>
   <link rel="stylesheet" href="/assets/lib/flickity/flickity.css">
   <script src="/assets/lib/flickity/flickity.pkgd.min.js"></script>
   <script src="/assets/js/jquery.min.js"></script>
   <script src="/assets/lib/semantic/semantic.min.js"></script>
   <script src="https://kit.fontawesome.com/0901fd4d42.js" crossorigin="anonymous"></script>
   <title>SUBIFIX | <%-title-%></title>
</head>