<%- include("../partials/head.ejs") %>
<body>
   <div class="row" style="height: 100vh;">
      <div class="five columns left-login">
         <img src="/assets/branding/logo.svg" alt="">
      </div>
      <div class="seven columns right-login">
         <div style="width: 90%;" id="right-login-div">
            <h1>Register</h1>
            
            <form class="ui large form" action="/register" method="POST">
               <div class="field">
               <div class="ui input transparent login-input">
                  <input type="email" name="email">
                  <span data-placeholder="Email"></span>
               </div>
               </div>
               <div class="field">
                  <div class="ui input transparent login-input">
                     <input type="password" name="password">
                     <span data-placeholder="Password"></span>
                  </div>
               </div>
               <button class="ui button" id="login-btn" type="submit">Register</button>
               <p>Already registered? <a href="/login">Login here.</a></p>
            </form>
         </div>
      </div>
   </div>
</body>
<script>
   $('.ui.checkbox')
   .checkbox();
   $('.login-input input').on('focus', function(){
      $(this).addClass('focus')
   });
   $('.login-input input').on('blur', function(){
      if($(this).val() == '') $(this).removeClass('focus')
   });
</script>
</html>