body{ 
   background-color: #f2f5f9;
}

.listing{
   text-align: center;
   background-color: white;
   border-radius: 15px;
   width: 80%;
   margin: 15px auto;
   padding: 20px 25px;
}
.main-gallery{
   max-height: 350px;
   max-width: 800px;
   margin: 0 auto 25px auto;
}
.gallery-cell{
   margin: auto 10px;
   max-height: 350px;
}
.gallery-cell img{
   border-radius: 10px;
   max-height: 350px;
}
.listing .info{
   margin-top: 35px;
   margin-bottom: 5px;
}
.listing .info p{
   font-size: 1.3em;
   font-weight: bold;
   margin: 0;
   display: inline;
}
.listing .description p{
   font-size: 1.5em;
}

@media only screen and (max-width: 650px) {
   .listing{
      width: 95%;
   }
 }